body {
  margin: 0;
}
.header {
  background-color: green;
  text-align: center;
}
.container {
  display: flex;
  flex-wrap: wrap;
}
.flex {
  width: 50%;
}
.search {
  text-align: center;
}
img {
  width: 200px;
}

@media (max-width: 540px) {
  .flex {
    width: 100%;
  }
}
@media (max-width: 960px) {
  .container {
    display: flex;
  }
  .flex {
    width: 50%;
  }
}
@media (min-width: 961px) {
  .container {
    display: flex;
  }
  .flex {
    width: 25%;
  }
}
